*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  color: black;
  background-color: white;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.0125em;
  text-align: left;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  body {
    padding: 0 2rem;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 10rem;
  }
}

img, svg {
  vertical-align: middle;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted gray;
  transition: color 0.1s linear;
}

a:visited {
  color: black;
}

a:hover {
  color: #f44336;
  border-bottom-color: #f44336;
}

a:active {
  color: black;
}

hr {
  border: 0;
  height: 1px;
  background: black;
}

blockquote {
  /* border-left: 1px solid #ddd; */
  font-weight: 200;
  margin: 0;
  /* padding-left: 1rem; */
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  /* font-weight: 700; */
  /* line-height: 1.2; */
}


@media (min-width: 992px) {
  .log-whole {
    display: table;
    width: 100%;
  }
  
  .log-half {
    display: table-cell;
    width: 50%;
  }  
}


.log-title a {
  border-bottom: none;
}



.log-post {
  padding: 4rem 0;
  border-bottom: 1px solid black;
}

.log-post-location-reason {
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 1;
  /* margin-top: 1rem; */
}

.log-post-title {
  font-weight: 700;
  font-size: 1.25rem;
}

.log-post-title a {
  border-bottom: none;
}

/* .log-post-image {

} */



.log-img-fluid {
  max-width: 100%;
  height: auto;
}

.log-mt-1 {
  margin-top: 1rem;
}

.log-header {
  border-bottom: 2px solid black;
  padding: 4rem 0; 
}

.log-footer {
  padding: 4rem 0; 
}